<mat-card>
  <mat-card-content>
    <p style ="text-align:center">Por Cobrar</p>

    <section class="example-section">
     <!--  <mat-progress-bar
          class="example-margin"
          [color]="prymary"
          [mode]="determinate"
          [value]="35"
          [bufferValue]="bufferValue">
      </mat-progress-bar> -->
      <div class="progreso" style="width:100%">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;  background:#0A1926; text-align: center" >
        70%
      </div>
    </div>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <p  style ="text-align:center">Por Pagar</p>
    <section class="example-section">
        <div class="progreso" style="width:100%; text-align: justify">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;  background:#0A1926">
        70%
      </div>
        </div>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
    <h2 class="example-h2">Daños Comunales</h2> 
</mat-card>

<table style="width:100%">
  <tr>
    <th>Facturas</th>
    <th>Daños</th> 
  </tr>

  <tr>
      <th class="progreso">
        <div class="progress-bar " role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:30%;  background:#0A1926">
          $ 3.160
        </div>
      </th>
      <th class="progreso">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; background:#0A1926">
            $ 3.160
        </div>
      </th>
  </tr>

</table>
<br>
<div>
  <h2>Daños Reportados</h2>

</div>

